@charset "UTF-8";
.hideBox{
    width: 1033px;
    margin: 0 auto;
    background-color: red;
}
.hideBox .carStyle{
    display: none;
}
.hideBox li{
    width: 341px;
    height: 265px;
    background-color: pink;
    float: left;
}
.hideBox li .hide1{
    height: 81px;
    text-align: center;
    line-height: 24px;
}
.hideBox li .hide2{
    height: 40px;
    background-color: black;
}
.mService{
    width: 209px;
    height: 160px;
    background-color: #1F2124;
    /*opacity: .2;*/
    margin-left: 450px;
    display: none;
}
.mService li{
    line-height: 53px;
    text-align: center;
    cursor: pointer;
}
.mService li a{
    color: white;
}
.mService li:hover{
    background-color: #FFB500;
}
.lService{
    width: 209px;
    /*height: 160px;*/
    background-color: #1F2124;
    /*opacity: .2;*/
    margin-left: 653px;
    display: none;
}
.lService li{
    line-height: 53px;
    text-align: center;
    cursor: pointer;
}
.lService li a{
    color: white;
}
.lService li:hover{
    background-color: #FFB500;
}
.carService{
     width: 209px;
     background-color: #1F2124;
     margin-left: 760px;
     display: none;
 }
.carService li{
    line-height: 53px;
    text-align: center;
    cursor: pointer;
}
.carService li a{
    color: white;
}
.carService li:hover{
    background-color: #FFB500;
}
.joinService{
    width: 209px;
    background-color: #1F2124;
    margin-left: 1000px;
    display: none;
}
.joinService li{
    line-height: 53px;
    text-align: center;
    cursor: pointer;
}
.joinService li a{
    color: white;
}
.joinService li:hover{
    background-color: #FFB500;
}
.serService{
    width: 240px;
    height: 80px;
    background-color: #1F2124;
    margin-left: 1003px;
    padding-left: 15px;
    display: none;
}
.serService input{
    border: 1px solid #ffffff;
    height: 30px;
    display: inline-block;
    margin-top: 20px;
    /*margin-left: 10px;*/
}
.serService .inp1{
    float: left;
}
.serService .inp2{
    float: left;
    height: 32px;
    background-color: #FFB500;
    cursor: pointer;
}